{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
	<main style="display:grid;place-items:center;min-height:60dvh;">
		<div style="text-align:center">
			<h1>Work in progress...</h1>
		</div>
	</main>
{% endblock %}
