{% extends 'base.html.twig' %}
{% block title %}New Spell
{% endblock %}

{% block body %}
	<h1 class="text-xl font-semibold mb-4">Create a Spell</h1>

	<div class="max-w-2xl rounded-2xl border border-white/10 bg-white/5 p-5">
		{{ include('admin/spells/_form.html.twig', {button_label: 'Create'}) }}
	</div>
{% endblock %}