{% extends 'base.html.twig' %}

{% block title %}New Spell
{% endblock %}

{% block body %}
	<h1>Create new Spell</h1>
	{{ include('admin/spells/_form.html.twig') }}
	<a href="{{ path('admin_spell') }}">back to list</a>
{% endblock %}
